@import url('https://rsms.me/inter/inter.css');
@import url("_css/jbm.css");
@import url("_css/raster.css");
@import url("_css/code.css");

:root {
  --fontSize: 16px;
  --monoFont: ui-monospace, SFMono-Regular, SF Mono,
              Consolas, Liberation Mono, Menlo, monospace;
  font-weight: 450;
  color-scheme: light dark;

  --background-color: white;
  --foreground-color-rgb: 0,0,0;
  --bgcolor-level1: rgba(0,0,0,0.1);

  @media (prefers-color-scheme: dark) {
    /* cold: */
    /* --background-color: rgb(13, 17, 23);
    --foreground-color-rgb: 201,209,217; */
    /* warm: */
    --background-color: rgb(25, 22, 20);
    --foreground-color-rgb: 217,209,201;

    --bgcolor-level1: rgba(0,0,0,0.3);

    --link-color: #70CAFC;
    --link-visited-color: #B79EFF;

    font-weight: 400;

    /* filter: invert() hue-rotate(180deg); */
  }
}

@supports (font-variation-settings: normal) {
  :root {
    --monoFont: jbmono, ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace;
  }
}

body {
  max-width: 800px;
  margin: 0 auto;
}

li > p + ul,
li > p + ol {
  margin-top: calc(var(--blockSpacingBottom) * -1);
}
ul > li,
ol > li {
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  & > a.anchor {
    position: relative;
    display: block;
    height: 0;
    background: lightpink;
    visibility: hidden;

    &::after {
      position: absolute;
      opacity: 0.3;
      right: 0;
      content: "#";
      font-weight: 500;
      padding: 0 0.3em;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &:hover > a.anchor {
    visibility: visible;
  }
}
